<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ITO_DAL.Properties.Settings.ITOConnectionString" connectionString="Data Source=10.15.140.2;Initial Catalog=ITO;Persist Security Info=True;User ID=evgeny;Password=ywfaggzu"
            providerName="System.Data.SqlClient" />
        <add name="ITO_DAL.Properties.Settings.sitemanager0ConnectionString"
            connectionString="server=10.15.140.6;user id=client;persistsecurityinfo=True;database=sitemanager0"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>